<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="pt-BR">
<head>
<meta charset="UTF-8"></meta>
<title>Insert title here</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header"></div>
	
	<div class="container">
		<h2>Lista de Alunos cadastrados</h2>
		<a href="/alunos/inserir" class="btn btn-default">Criar novo aluno...</a>
		<div class="row">
			<div class="form-group col-md-12">
				<label for="txt-pesquisa-aluno">Aluno a ser pesquisado:</label>
				<input type="text" id="txt-pesquisa-aluno" class="form-control" />
				<button type="button" class="btn btn-default" id="btn-pesquisa-aluno">Pesquisar...</button>
			</div>
		</div>
		<table class="table" id="tbl-alunos">
			<thead>
				<th>Nome do aluno</th>
				<th>Idade</th>
			</thead>
		</table>
		
	</div>
	
	<div th:replace="fragmentos/fragmentos :: footer"></div>
</body>
</html>